body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: #f4f4f4;
    color: #222;
  }
  header {
    background: #222;
    color: white;
    padding: 1rem;
  }
  nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
  }
  section {
    padding: 2rem;
  }
  .avatar {
    width: 150px;
    border-radius: 50%;
  }
  .tecnologias img {
    width: 50px;
    margin: 0.5rem;
  }
  .galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .proyecto {
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    width: 45%;
  }
  footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  .img-proyecto {
    width: 70px;   /* o usa 100px, 50% etc. */
    height: auto;   /* mantiene proporción */
  }
  .imagenes-proyecto {
    width: 100px;   /* o usa 100px, 50% etc. */
    height: auto;   /* mantiene proporción */
  }
  .imge-proyecto {
    width: 250px;   /* o usa 100px, 50% etc. */
    height: auto;   /* mantiene proporción */
  }
  .Age-proyecto {
    width: 250px;
    height: auto;
  }
  
  
  